.question-container {
    background-color: #fdf7e2;
    border-radius: 8px;
    margin: 20px auto;  
    width: 800px;  
    max-height: 500px; 
    overflow-y: auto;  
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

* {
    box-sizing: border-box;
}

.question {

    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    padding: 10px;
    margin: 0;
    text-align: center;
    height: 100px; 
    gap: 1em;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1)   
}

.question-content-tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    
}

.question-content-tag p {
    margin: 0;
    text-align: left;
}

.question:last-child {
    border-bottom: none; /* Removes border from the last card if not needed */
}

.question-content-tag a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    
}

.question-content-tag a:hover {
    text-decoration: underline;
}

.tag{
    font-size: 0.8em;
    align-self: flex-end;
    color: hsla(210,77%,36%,1); ;
    background-color: hsla(210,80%,93%,1);
    margin-right: 5pt;
}

.time {
    font-size: 0.8em;
    color: #777;
    align-self: flex-end;
    
}

.votes, .answers {
    font-weight: bold;
    margin-right: 10px;
    align-self: flex-end;
}

.left-container {
    display: flex;
    gap: 1em;
}