html, body 
{
    margin:0px;
    padding:0px;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #f7f6f6;
    border-top: 3px orange solid;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-header-container
{
    display: flex;
    gap:5em;
    flex-wrap: wrap;
}
.SrchBar {
    width: 600px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar,
.SrchBar form {
    width: 100%;
}

.acc {
    flex:0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    flex:0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp {
    flex:0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:8px;
}

.acc,
.login,
.signUp,
.SrchBar,
.logo {
    padding: 10px;
}
