* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:visited {
    color: inherit;
    /* Use the same color as regular links */
}


.header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "logo logo . s s s s account login singUp ";
    background-color: #f7f6f6;
    border-top: 3px orange solid;
    /* height: 10%; */
}

.SrchBar {
    grid-area: s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar {
    height: 35px;
    border-radius: 20px;
    border: 1px solid #7f7f7f;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar,
.SrchBar form {
    width: 100%;
}

.acc {
    grid-area: account;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acc a:hover {
    background-color: #ccc;
    border-radius: 3px;
}

.login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-hover:hover {

    background-color: orange;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.signUp {
    grid-area: singUp;
    display: flex;
    justify-content: center;
    align-items: center;
}



.acc,
.login,
.signUp,
.SrchBar,
.logo,
.sign {
    padding: 10px;
}


/* ----------------------------------------------------------------------  Logged in Header styles ----------------------------------------------------------------------- */

.header2 {

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "logo logo . s s s s account signOut signOut ";
    background-color: #f7f6f6;
    border-top: 3px orange solid;
}

.signOut {
    grid-area: signOut;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signOut-hover:link {
    color: black;
}

#signOut-hover:hover {

    background-color: rgb(255, 38, 0);
    padding: 5px;
    color: white;
    border-radius: 3px;
}
