html, body 
{
    margin:0px;
    padding:0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-areas: "logo logo . s s s s account login singUp ";
    background-color: #f7f6f6;
    border-top: 3px orange solid;
    /* height: 10%; */
}

.SrchBar {
    grid-area: s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar,
.SrchBar form {
    width: 100%;
}

.acc {
    grid-area: account;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp {
    grid-area: singUp;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc,
.login,
.signUp,
.SrchBar,
.logo {
    padding: 10px;
}

.body
{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.container
{
    display: flex;

}

.left-body-container, .right-body-container, .middle-body-container
{
    padding:8px;
}

.left-body-container
{
    padding-right:0px;
}

.tab-container
{
    margin:0px;
    padding:0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:2em;
}


.tab-container li
{
    padding: 8px 16px;
    width:200px;
}
.tab-container li:hover
{
    background-color: #E1E1E1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.current-page
{
    background-color: #E1E1E1;
    width:200px;
    border-right: 3px solid #EF8236;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.middle-body-container
{
    width:900px;
    border-left: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
}

.ask-question
{
    width:15%;
    align-self: flex-end;

}
.tab-container
{
    display: flex;
    flex-direction: column;
}



.top-questions-container
{

}

.recent-questions-container
{
    
}
