* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:visited {
    color: black;
}

a:visited:link {
    color: black;
}

.header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "logo logo . s s s s account login singUp ";
    background-color: #f7f6f6;
    border-top: 3px orange solid;
    /* height: 10%; */

}

.SrchBar {
    grid-area: s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar {
    height: 35px;
    border-radius: 20px;
    border: 1px solid #7f7f7f;
}


#errorMSG {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar,
.SrchBar form {
    width: 100%;
}

.acc {
    grid-area: account;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-hover:hover {

    background-color: orange;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.signUp {
    grid-area: singUp;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc,
.login,
.signUp,
.SrchBar,
.logo {
    padding: 10px;
}





/* ------------------------------------------------------------------------------------------------------------- */

.content {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    height: 90%;
    flex-grow: 9;
    /* Use flex-grow to take 10% of body's height */

}

.square {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 30px 100px 400px 100px;
}

.logo1 {
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f6f6;
    border-radius: 5%;
    box-shadow: -3px -16px 20px 0px rgba(0, 0, 0, 0.1);
}

.dont-haveACC {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
}

#log-form {
    display: grid;
    grid-template-rows: 60px 60px 25px 40px;
    gap: 50px;
    width: 85%;
}

label h4 {
    margin: 10px 0;
}

.submit-button {
    border: none;
    background-color: #146aff;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 35px;
    border-radius: 10px;
}
